= form_for @artist do |f|
  = render partial: "shared/errors", locals: { target: @artist }

  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :image_path
    = f.text_field :image_path
  %p= f.submit
