%h1= @artist.name

=image_tag(@artist.image_path)

%h2= "Songs"

%p
  = link_to "New song", new_artist_song_path(@artist)

%p
  = link_to "Edit artist", edit_artist_path(@artist)
%p
  = link_to "Delete artist", artist_path(@artist), method: :delete
%p
  = link_to "All Artists", artists_path
