%h1= "All Songs for #{@artist.name}"

%ul
  - @songs.each do |song|
    %li
      = link_to song.title, song
      = " ("
      = link_to "Delete #{song.title}", artist_song_path(@artist, song), method: :delete
      = ") "
