= form_for @playlist do |f|
  = render partial: "shared/errors", locals: { target: @playlist }

  %p
    = f.label :name
    = f.text_field :name
  %ul
    - @songs.each do |song|
      %li
        = check_box_tag(:song_ids, song.id, @playlist.selected?(song), :name=> 'playlist[song_ids][]', id: "song-#{song.id}")
        = song.title
  %p
    = f.submit
